@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

body{
    background-color: #f5f5f5;
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.50)),url('../src/assets/poster.jpg');
    background-size:cover;
    background-position:center;
    /* background-image:url('../src/assets/poster.jpg'); */
}

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,span{
    color: rgb(69, 69, 69);
}